@use "../../styles/abstracts";

.Education {
  margin-top: -2rem;
  button {
    margin-bottom: 2rem;
    margin-left: 10rem;
    @include abstracts.respondMax(900px) {
      margin-left: 5rem;
    }
  }
}
