@use "../abstracts";

html {
  font-size: 62.5%;
  @include abstracts.respondMax(800px) {
    font-size: 55%;
  }
}

*,
*::before,
*::after {
  margin: 0px;
  padding: 0px;
  box-sizing: inherit;
}
:root {
  //colors
  --primary-color-blue: #63afc0;
  --primary-color-blue-light: #c0ebf4;

  --secondary-color-purple: #422196;
  --primary-color-purple-light: #aad6ff;

  --tertiary-color-white: white;

  --phone: 600px;
}

body {
  font-size: 1.6rem;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
  font-weight: 400;
  background-color: var(--primary-color-blue);
}
